.ver-users {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--base-clr);
    border-color: var(--line-clr);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ver-users span {
    font-size: 2rem;
    font-weight: 600;
}

.ver-users table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.ver-users table th,
.ver-users table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--line-clr);
}

.ver-users table tr:hover {
    background-color: var(--hover-clr);
}

.context-menu {
    display: none;
    position: absolute;
    background-color: var(--base-clr);
    border: 1px solid var(--line-clr);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 10px 15px;
    color: var(--text-clr);
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: var(--hover-clr);
}

.search-bar {
    margin-bottom: 1rem;
    text-align: right;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td {
    content: attr(data-label);
}

.search-bar input {
    padding: 0.5rem;
    width: 100%;
    max-width: 300px;
    border: 1px solid var(--line-clr);
    border-radius: 5px;
    background-color: var(--base-clr);
    color: var(--text-clr);
}

.search-bar input::placeholder {
    color: var(--secondary-text-clr);
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.actions svg {
    margin: unset;
    padding: unset;
}

.table-container table thead tr th {
    position: sticky;
    top: 0;
    background-color: var(--base-clr);
    z-index: 1;
}

@media (max-width: 1646px) {
    .ver-users {
        padding: unset;
        margin: unset;
        width: 100vw;
        margin: 0 auto;
    }

    .ver-users table,
    .ver-users thead,
    .ver-users tbody,
    .ver-users th,
    .ver-users td,
    .ver-users tr {
        display: block;
    }

    .ver-users thead {
        display: none;
    }

    .ver-users tr {
        margin-bottom: 1rem;
        background-color: var(--base-clr);
        border-radius: .5rem;
        padding: unset;
    }

    .ver-users td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem;
        text-align: left;
        border-bottom: 1px solid var(--line-clr);
        position: relative;
    }

    .ver-users td::before {
        content: attr(data-label);
        font-weight: bold;
        color: var(--secondary-text-clr);
        flex-basis: 50%;
        text-align: left;
    }

    .ver-users td:last-child {
        border-bottom: none;
        display: none;
    }

    .search-bar {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        padding: unset;
    }

    .search-bar input {
        width: 90%;
        max-width: none;
        font-size: 1rem;
    }

    .table-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        margin-bottom: 8%;
    }

    .table-container table thead tr th {
        position: unset;
        top: unset;
        z-index: unset;
    }

    .search-bar h1 {
        text-align: left;
        margin-bottom: 25px;
        margin-top: 10px;
    }

    [data-label="Activado"] {
        text-align: unset;
    }
}